/*Method to declare your own fonts */
@font-face {
    font-family: headingFont;
    src: url(../assets/fonts/sanford/Sanford-0103_demo.TTF);
}

@font-face {
    font-family: brandFont;
    src: url("../assets/fonts/antenna/ANTENNA.ttf")
}

 :root {
	--primary-color: #1B1817;
	--secondary-color: #E9EAF1;
}


/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/
body{
    /*padding-top: 30px;
    padding-bottom: 5px;*/
    background-color: #FFFFFF;
}

.main_contents{
    margin-top: 10px;
    margin-bottom: 10px;
}


#brand_pos {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 100%;
}

#brand_home {
	display: block;
	position: relative;
	font-size: 50px;
}

#main_text{
    float: left;
	margin: 0%;
 	width: 100%;
    display: block;
    padding: 0px;
    border-radius: 0px;
}

#main_text h1 {
    color: rgba(100,130,140,1);
    margin-top: 0px;
    margin-bottom: 5px;
}


#main_text p {

    margin: 0px;

}

.card{
    border: 1px solid var(--secondary-color);
    /*border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.card-text{
	color: var(--primary-color);
	text-align: justify;
	margin-top: 5px;
}

.card-header {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.card-body {
	color: var(--primary-color);
}

/*New CSS rules to better position the navbar and increase height, Boostrap defaults tend to make your site look like a Boostrap clone!*/
/*CSS over rules*/
.navbar_museum {
    background-color: #E9EAF1;
    border-width: 0px;
    min-height: 70px;
}

/*CSS rule to overwrite the navbar-brand font
*/
.navbar_museum .navbar-brand{
    color: black;
}


/*CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_museum .navbar-brand:hover {
    color: green;
}

/*Navigation Menu*/
/*CSS over rules Bootstrap menu*/
.navbar_museum .navbar-nav > li > a{
    color: var(--primary-color);
}

/*CSS rule to overwrite text hover color*/
.navbar_museum .navbar-nav > li > a:hover,
.navbar_museum .navbar-nav > li > a:focus {
    color: blue;
}

.navbar_museum .navbar-nav .nav-item {
    margin-top: 0px;
}

/*CSS rule to overwrite for font color and background color*/
.navbar_museum .navbar-nav .nav-item > .active,
.navbar_museum .navbar-nav > .active > a:hover,
.navbar_museum .navbar-nav > .active > a:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/*CSS rule to overwrite text hover color on the navbar*/
.navbar_museum .navbar-nav > li > a:hover,
.navbar_museum .navbar-nav > li > a:focus {
    color: grey;
}

/*CSS overwrites the style of the icon bar
*/
.navbar_museum .navbar-toggler {
    border-color: #1B1817;
}

.navbar_museum .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_museum .navbar-toggler {
    outline: none !important;
}

.navbar-text > a {
    font-size: 10px;
}

.navbar-text > p {
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
}

/*Dropdown Menu*/
.dropdown-menu {
    text-align: -webkit-left;
    background-color: var(--secondary-color);
    margin-top: 20px;
}

.dropdown-menu .dropdown-item {
    color: var(--primary-color);
}

.dropdown-menu .dropdown-item:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/*Footer*/
.footer {
    color: var(--primary-color);
    background-color: var(--secondary-color);
	bottom: 0;
    height: 50px;
}

.copyright {
    padding-top: 8px;
}

.social {
    padding-top: 0px;
}

/*Some simple CSS rules for styling p, h1 to h6, etc. in the main content's container*/
p{
    font-family: headingFont;
	color: var(--primary-color);
}

.footer p {
	font-family: Arial, Helvetica, sans-serif;
}

.card-body p {
	font-family: Arial, Helvetica, sans-serif;
}

.modal-body p {
	font-family: Arial, Helvetica, sans-serif;
}

#statement p {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: brandFont;
	font-size: 2.5em;
	color: rgba(87, 196, 223, 0.25);
}

h2 {
	font-family: headingFont;
	color: rgba(100,130,140,1)
}

h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--primary-color);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
	color: var(--primary-color);
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover {
	color: grey;
	border: 1px solid transparent;
}

.flex-container {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
}

.interact-btns {
	border-color: black;
	border-style: solid;
	border-width: 0px;
	margin-top: 0px;
	padding: 0px;
}

/*.camera-btns > p {
	font-size: 15px;
	color: red;
	padding-left: 0px;
	font-weight: 900;
}*/

.interact-font {
	font-weight: 400;
	color: white;
}

.interact-font:hover {
	font-weight: 400;
	color: black;
}

.btn-responsive {
	padding: 6px 10px;
	/*line-height: 1.2;*/
	font-size:90%;
	white-space: normal!important;
}

.img-thumbnail {
	padding: 0.25rem;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #fff;
	border: 1px solid var(--secondary-color);
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
}

.gallery .img-thumbnail {
	background-color: var(--secondary-color);
	padding: 0.25rem;
	margin: 2px;
	border: 1px solid var(--secondary-color);
	border-radius: 0.25rem;
	max-width: 24%;
	height: auto;
}

.model3D {
	background-color: rgba(225,255,255,0.2);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,1.0);
	padding: 2px;
	height: 250px;
}

X3D,x3d {
	position: relative;
	float: left;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	border-radius: 3px;
	border: 1px solid #000;
	width: 100%;
	height: 100%;
}

.gallery-box {
	min-width: 100%;
}

span.darkText {
		display: none;
}
span.darkIcon {
		display: inline-block;
}

span.lightText {
		display: none;
}
span.lightIcon {
		display: inline-block;
}
/*Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) { 
	
	#brand_pos {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 80%;
	}

	#brand_home {
	display: block;
	position: relative;
	}

	
	#main_text {
    float: left;
	margin: 3%;
 	width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
	}
	
    .footer {
        height: 60px;
		bottom: 0;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding: 7px;
    }
	
	span.darkText {
		display: none;
	}
	span.darkIcon {
		display: inline-block;
	}
	
	span.lightText {
		display: none;
	}
	span.lightIcon {
		display: inline-block;
	}
	
	.gallery .img-thumbnail {
	margin: 2px;
	}
	
	.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	}

 }

/*Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) { 
	#brand_pos {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 70%;
	}
	
	#main_text{
    float: left;
	margin: 3%;
 	width: 100%;
    display: block;
    /*background-color: rgba(225,255,255,0.3);*/
    padding: 10px;
    border-radius: 5px;
	}
	
	.btn-responsive {
	padding: 6px 10px;
	line-height: 1.2;
	font-size: 100%;
	white-space: normal!important;
	}
	
	.model3D {
	background-color: rgba(225,255,255,0.2);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,1.0);
	padding: 2px;
	height: 350px;
	}
	
	span.darkText {
		display: inline-block;
	}
	span.darkIcon {
		display: none;
	}
	
	span.lightText {
		display: inline-block;
	}
	span.lightIcon {
		display: none;
	}
	
	.gallery .img-thumbnail {
	margin: 3px;
	}
	
} 

/*Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
	#brand_pos {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 50%;
	}
	
	#main_text {
    float: left;
	margin: 5%;
 	width: 100%;
    display: block;
    /*background-color: rgba(225,255,255,0.3);*/
    padding: 15px;
    border-radius: 10px;
	}
	
	.btn-responsive {
	padding: 6px 10px;
	line-height: 1.2;
	font-size: 105%;
	white-space: normal!important;
	}
	
	.model3D {
	background-color: rgba(225,255,255,0.2);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,1.0);
	padding: 2px;
	height: 500px;
	}
	
	.gallery .img-thumbnail {
	margin: 4px;
	}
} 

/*Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
	.btn-responsive {
	padding: 6px 10px;
	line-height: 1.2;
	font-size: 110%;
	white-space: normal!important;
	}
	
	.model3D {
	background-color: rgba(225,255,255,0.2);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,1.0);
	padding: 2px;
	height: 600px;
	}
	
	.gallery .img-thumbnail {
	margin: 5px;
	}
	
	.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	}

}

@media (min-width:1426px) {
	.flex-container {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;
	}
}
